@{
    ViewData["Title"] = "Login";
}

<div class="login-form">
    <div class="row justify-content-md-center">
        <div class="jumbotron col-11">
          <div><h3 class="title-login">Login</h3></div>
            <form  class="login" asp-action="Login" method="POST">
                <div class="form-group">
                    <input type="text" asp-action="login" placeholder="Login" class="form-control" name="login" />
                </div>
                <div class="form-group">
                    <input type="password" asp-action="senha" placeholder="Senha" class="form-control" name="senha"/>
                </div>
                <input type="submit" class="btn btn-primary btn-lg" value="Entrar" />
            </form>
            <p class="text-danger">@ViewData["Erro"]</p>
        </div>
    </div>
</div>
<p class="frase">Login disponível somente para administrador do sistema.</p>