@{
    ViewData["Title"] = "I9 ONLINE";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo ao site da I9 Online!</h1>
    <h4>A melhor solução para você e para seu negócio!</h4>
</div>

<main>
    <body>
        <div class="container">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="slide col-4 float-left">
                        <h6 class="carousel-caption d-none d-md-block">Quer importar um iPhone?</h6>
                        <img src="~/img/iphone2.jpg" class="d-block w-100" alt="Quer importar um iPhone?">                        
                    </div>

                    <div class="slide col-4 float-left" >
                        <h6 class="carousel-caption d-none d-md-block">Notebook te deixou na mão?</h6>
                        <img src="~/img/laptop2.jpg" class="d-block w-100" alt="Notebook te deixou na mão?">                        
                    </div>

                    <div class="slide col-4 float-left">                        
                        <h6 class="carousel-caption d-none d-md-block">Precisa trocar bateria?</h6>
                        <img src="~/img/bateria.jpg" class="d-block w-100" alt="Precisa trocar bateria?">
                    </div>
                </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

                <div class="carousel-item">
                <div class="slide col-4 float-left">
                    <h6 class="carousel-caption d-none d-md-block">Quebrou a tela?</h6>
                    <img  src="~/img/tela.jpg" class="d-block w-100" alt="Quebrou a tela?">
                </div>
                <div class="slide col-4 float-left">
                    <h6 class="carousel-caption d-none d-md-block">Videogame parou de funcionar?</h6>
                    <img  src="~/img/game.jpg" class="d-block w-100" alt="Videogame parou de funcionar?">
                </div>
                <div class="slide col-4 float-left">
                    <h6 class="carousel-caption d-none d-md-block">Precisa de acessórios?</h6>
                    <img src="~/img/fone.jpg" class="d-block w-100" alt="Precisa de acessórios?">
                </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>


                
            </div>
                   

        </div>

        
        
        <div id="cookie-notification" class="CookieMessage" style="display: none;">
            <div class="CookieMessage-content"> 
            <p>Este site utiliza cookies de navegação para a melhor experiência do usuário. <a href="/Home/Privacy.cshtml">Saiba mais</a></p>
            <p><a id="cookie-notification-close" class="CookieMessage-button" href="#">Aceitar</a></p>          
            </div>
        </div>
        <script>
               if (!localStorage.getItem("cookiesAccepted")) { 
                    var cookieMessage = document.getElementById('cookie-notification');  
                    var closeCookie = document.getElementById('cookie-notification-close');
                    
                    cookieMessage.style.display = 'block';  
                    closeCookie.addEventListener("click", function(e) {  
                    e.preventDefault();
                    localStorage.setItem("cookiesAccepted", true);
                    
                    cookieMessage.style.display = 'none';
                    });
                }
        </script>


    </body>
</main>
