@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Bem-vinda à I9 Online! Valorizamos a sua privacidade e estamos comprometidos em proteger as informações pessoais que você compartilha conosco. Esta política de privacidade descreve como coletamos, usamos, divulgamos e protegemos suas informações ao utilizar o nosso site.</p>

<h4>Coleta de Informações</h4>
<p>Ao visitar o site da I9 Online, podemos coletar informações pessoais que você voluntariamente nos fornece, como seu nome, endereço de e-mail, número de telefone e outras informações relevantes. Também podemos coletar informações não pessoais, como dados demográficos e preferências de navegação.</p>

<h4>Uso das Informações</h4>
<p>Utilizamos as informações coletadas para melhorar a sua experiência no site da I9 Online, personalizar o conteúdo, responder às suas perguntas e fornecer informações relevantes sobre nossos produtos e serviços. Além disso, podemos utilizar seus dados para realizar análises internas, aprimorar nossos produtos e serviços, e enviar comunicados importantes relacionados a I9 Online. </p>

<h4>Divulgação a Terceiros</h4>
<p>Não compartilhamos suas informações pessoais com terceiros sem o seu consentimento, exceto quando exigido por lei ou quando necessário para fornecer os serviços solicitados por você. Podemos compartilhar informações não pessoais de forma agregada e anônima para fins estatísticos ou de marketing.</p>

<h4>Proteção das Informações</h4>
<p>Implementamos medidas de segurança adequadas para proteger as informações pessoais que coletamos. No entanto, é importante lembrar que nenhum método de transmissão pela Internet ou de armazenamento eletrônico é completamente seguro. Portanto, não podemos garantir a segurança absoluta das informações.</p>

<h4>Cookies</h4>
<p>O site da I9 Online utiliza cookies para melhorar a sua experiência de navegação. Os cookies são pequenos arquivos de texto que são armazenados no seu dispositivo quando você visita nosso site. Eles nos permitem reconhecer o seu dispositivo e lembrar suas preferências. Você pode optar por desativar os cookies nas configurações do seu navegador, mas isso pode afetar a funcionalidade do site.</p>

<h4>Links Externos</h4>
<p>Nosso site pode conter links para outros sites que não são operados por nós. Não nos responsabilizamos pelas práticas de privacidade desses sites. Recomendamos que você leia as políticas de privacidade de cada site que visitar.

<h4>Alterações na Política de Privacidade</h4>
<p>Podemos atualizar esta política de privacidade periodicamente. Recomendamos que você reveja-a regularmente para se manter informado sobre como protegemos suas informações pessoais.</p>

<h4>Entre em Contato Conosco</h4>
<p>Se tiver alguma dúvida ou preocupação sobre nossa política de privacidade ou sobre como tratamos suas informações pessoais, entre em contato conosco através dos canais fornecidos em nosso site.</p>

<p>Agradecemos por confiar na I9 Online e nos comprometemos a proteger suas informações pessoais.</p>


