@{
   ViewData["Title"] = "Sobre Nós";
}
<h2>@ViewData["Title"]</h2>

<main>
    <body>
        
        <div class="empresa">
            
            <h4>Missão</h4>
            <p>Oferecer excelência na solução de problemas do cliente.</p><br>
            <h4>Visão</h4>
            <p>Tornar-se referência em assistência técnica de smartphones na região de atuação em 10 anos.</p><br>
            <h4>Valores</h4>
            <div class="valores">
                <ui>
                    <li>Ética</li>
                    <li>Satisfação do cliente</li>
                    <li>Excelência em solucionar problemas</li>
                </ui>
            </div>
        </div>
        
    </body>
    
</main>